### 1. Remove Punctuation
### 2. Tokenization
### 3. Removing Stopwords

In [11]:
import pandas as pd
pd.set_option('display.max_colwidth', 100)
df=pd.read_csv(r'C:\Users\rachi\Desktop\NLP\spam.csv', encoding="ISO-8859-1")
df.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [12]:
df.drop(list(df)[2:], axis = 1, inplace = True)
df.head()

     v1                                                                                                   v2
0   ham  Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g...
1   ham                                                                        Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
3   ham                                                    U dun say so early hor... U c already then say...
4   ham                                        Nah I don't think he goes to usf, he lives around here though

In [15]:
df.columns=['labels', 'body_text']
df.head()

  labels                                                                                            body_text
0    ham  Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g...
1    ham                                                                        Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
3    ham                                                    U dun say so early hor... U c already then say...
4    ham                                        Nah I don't think he goes to usf, he lives around here though

# 1. Remove Punctuations

In [16]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [22]:
def remove_punct(text):
    text_nopunct="".join([char for char in text if char not in string.punctuation])
    return text_nopunct

df['body_text_nopunct']=df['body_text'].apply(lambda x: remove_punct(x))
df.head()

  labels  ...                                                                                    body_text_nopunct
0    ham  ...  Go until jurong point crazy Available only in bugis n great world la e buffet Cine there got amo...
1    ham  ...                                                                              Ok lar Joking wif u oni
2   spam  ...  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...
3    ham  ...                                                          U dun say so early hor U c already then say
4    ham  ...                                          Nah I dont think he goes to usf he lives around here though

[5 rows x 3 columns]

# Tokenization

In [25]:
import re

def tokenize(text):
    tokens = re.split('\W+', text)
    return tokens

df['tokenized_text']=df['body_text_nopunct'].apply(lambda x:tokenize(x.lower()))
df.head()

  labels  ...                                                                                       tokenized_text
0    ham  ...  [go, until, jurong, point, crazy, available, only, in, bugis, n, great, world, la, e, buffet, ci...
1    ham  ...                                                                       [ok, lar, joking, wif, u, oni]
2   spam  ...  [free, entry, in, 2, a, wkly, comp, to, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, to...
3    ham  ...                                              [u, dun, say, so, early, hor, u, c, already, then, say]
4    ham  ...                            [nah, i, dont, think, he, goes, to, usf, he, lives, around, here, though]

[5 rows x 4 columns]

# Removing Stop Words

In [32]:
import nltk
stopword = nltk.corpus.stopwords.words('english')

In [34]:
def remove_stopwords(tokenized_list):
    no_stopwords=[word for word in tokenized_list if word not in stopword]
    return no_stopwords

df['tokenized_text_nostopwords']=df['tokenized_text'].apply(lambda x: remove_stopwords(x))
df.head()

  labels  ...                                                                           tokenized_text_nostopwords
0    ham  ...  [go, jurong, point, crazy, available, bugis, n, great, world, la, e, buffet, cine, got, amore, wat]
1    ham  ...                                                                       [ok, lar, joking, wif, u, oni]
2   spam  ...  [free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receiv...
3    ham  ...                                                        [u, dun, say, early, hor, u, c, already, say]
4    ham  ...                                                 [nah, dont, think, goes, usf, lives, around, though]

[5 rows x 5 columns]