In [1]:
import pandas as pd
import numpy as np 
import spacy

In [2]:
from spacy.lang.en.stop_words import STOP_WORDS as stopwords

In [5]:
df = pd.read_csv(r'C:\Users\rachi\Desktop\NLP\twitter4000.csv')
df.head()

                                              tweets  sentiment
0  is bored and wants to watch a movie  any sugge...          0
1           back in miami.  waiting to unboard ship           0
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                  ughhh i am so tired  blahhhhhhhhh          0
4  @mandagoforth me bad! It's funny though. Zacha...          0

In [6]:
df.shape

(4000, 2)

In [8]:
df['sentiment'].value_counts()

1    2000
0    2000
Name: sentiment, dtype: int64

# Word Count

In [9]:
df['word_count']=df['tweets'].apply(lambda x:len(str(x).split()))
df.head()

                                              tweets  sentiment  word_count
0  is bored and wants to watch a movie  any sugge...          0          10
1           back in miami.  waiting to unboard ship           0           7
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0          12
3                  ughhh i am so tired  blahhhhhhhhh          0           6
4  @mandagoforth me bad! It's funny though. Zacha...          0          26

In [12]:
# max and min word count
df['word_count'].max(), df['word_count'].min()

(32, 1)

In [14]:
# display all tweets with word count = 1
df[df['word_count']==1]

                               tweets  sentiment  word_count
385                         homework           0           1
691                         @ekrelly           0           1
1124                    disappointed           0           1
1286                 @officialmgnfox           0           1
1325                        headache           0           1
1897                      @MCRmuffin           0           1
2542                      Graduated!           1           1
2947                         reading           1           1
3176                    @omeirdeleon           1           1
3470  www.myspace.com/myfinalthought           1           1
3966                        @gethyp3           1           1

# Characters Count

In [15]:
len('Hello world')

11

In [20]:
# from above example, it is also counting the space as 1 character in string. If we want to remove that, we will use a custim method dfined as:
def char_count(x):
    s=x.split()
    x=''.join(s)
    return len(x)

In [21]:
char_count('hello world')

10

In [24]:
df['char_count'] = df['tweets'].apply(lambda x:char_count(str(x)))

In [25]:
df.head()

,tweets,sentiment,word_count,char_count
0,is bored and wants to watch a movie any sugge...,0,10,43
1,back in miami. waiting to unboard ship,0,7,32
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54
3,ughhh i am so tired blahhhhhhhhh,0,6,27
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116

In [26]:
df['char_count'].min()

5

In [27]:
df[df['char_count']==5]

      tweets  sentiment  word_count  char_count
198  is sad           0           2           5

# Stop Words Count

In [29]:
len(stopwords)

326

In [34]:
x='This is some text data'
x.split()

['This', 'is', 'some', 'text', 'data']

In [37]:
# counting the stop words
len([l for l in x.split() if l in stopwords])

2

In [40]:
# counting stopwords in the data frame
df['stop_words_len']=df['tweets'].apply(lambda x: len([l for l in x.split() if l in stopwords]))

In [41]:
df.head()

,tweets,sentiment,word_count,char_count,stop_words_len
0,is bored and wants to watch a movie any sugge...,0,10,43,5
1,back in miami. waiting to unboard ship,0,7,32,3
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,0
3,ughhh i am so tired blahhhhhhhhh,0,6,27,3
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,13

# Counting Hashtags and @Mentions

In [42]:
x= 'this is #hashtag and #this is @mention'
x.split()

['this', 'is', '#hashtag', 'and', '#this', 'is', '@mention']

In [49]:
#counting hashtags(#) and mentions(@)
df['hashtag_count']=df['tweets'].apply(lambda x: len([i for i in x.split() if i.startswith('#')]))
df['mention_count'] = df['tweets'].apply(lambda x: len([i for i in x.split() if i.startswith('@')]))
df.head()

,tweets,sentiment,word_count,char_count,stop_words_len,hashtag_count,mention_count
0,is bored and wants to watch a movie any sugge...,0,10,43,5,0,0
1,back in miami. waiting to unboard ship,0,7,32,3,0,0
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,0,0,1
3,ughhh i am so tired blahhhhhhhhh,0,6,27,3,0,0
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,13,0,2